/* CSS Set up */
*{
    margin:0px;
    padding:0;

}

*,
*::before,*::after{
    box-sizing:border-box;
}

/* general styling */
body{
    background-color:white;
    display:flex;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 29px;
}

h2{
   font-size: 17px;
    font-weight: 400;
}

p{
    font-size: 15px;
    color:rgb(110, 109, 109);
    font-weight: 400;
}
/* containers */

.sidebar{
    width:30vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    gap:10%;
    justify-content:flex-start;
    background-color: rgb(245, 247, 248);
    padding:30px;
}

.main-container{
    width: 100%;
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:10px;
    background-color:white;
    
}

/* subsection containers (main-container) */
.experience{
    height:50%;
}
.projects{
    height:50%;
}

/* subsection containers (sidebar) */

.information{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.about{
   
}

.skills{
   
}

/* elements */

.social{
    display:flex;
    justify-content:flex-start;
    gap:10px;
}


.social img{
    width: 20px;
    height:20px;
    object-fit: scale-down;
    border-radius:10px;
}

.social a{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 30px;
    height:30px;
    border-radius:20px;
    background-color:black;
}