/* CSS Set up */
*{
    margin:0px;
    padding:0;

}

*,
*::before,*::after{
    box-sizing:border-box;
}

body{
    background-color:white;
    display:flex;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* containers */

.sidebar{
    width:30vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    gap:5%;
    justify-content:flex-start;
    background-color:gray;
    padding:10px;
    padding-top:20px;
}

.main-container{
    width: 100%;
    padding:5px;
    background-color:white;
}

/* subsection containers (sidebar) */

.information{
    display:flex;
    flex-direction:column;
    background-color:white;
    gap:5px;
}

.about{
    background-color:white;
}

.skills{
    background-color:white;
}

/* elements */

.social{
    height:10vh;
    display:flex;
    align-items:center;
    justify-content:center;
}